# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
* we will cover jupyter Notebook.
* we will cover R Language
* we will cover Git and GitHub

Some of the popular languages that Data Scientists use are:
1. PYTHON
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
* Numpy
* Pandas
* pytorch
* keras

| Data Science Tools|
|-------------------|
| Jupyter Notebook|
| RStudio |
| Scikit-Learn |
| Power BI |

### Below are a few examples of evaluating arithmetic expressions in Python
* 5+3
* 100-150
* 14/52

In [6]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60.
min = 200
hours = min /60
print(hours)

3.3333333333333335

## Author
Ali Hassan